@import "../../node_modules/slick-carousel/slick/slick";
@import "normalize";
@import "media_max";
@import "variables";
@import "mixins";
@import url("https://use.typekit.net/eod5ffe.css");

body {
   font-family: muli, sans-serif;
   line-height: 1.5;
   background-color: $bg-color;
}
section {
   padding: 35px 0;
   @include to768{padding: 20px 0;}
}
.container {
   max-width: 1140px;
   margin: 0 auto;
   padding: 0 15px;
}

// title
.title {
   font-size: 24px;
   font-weight: 700;
   color: $text-color-d;
   text-transform: uppercase;
   @include to768 {font-size: 22px;}
}


// heading
.heading {
   background-color: $bg-color;
   padding: 25px 0;
   &__body {
      display: flex;
      align-items: center;
      justify-content: space-between;
   }
   &__text {
      flex: 1 1;
      font-size: 11px;
      font-weight: 400;
      color: $text-color-d;
      span {
         font-weight: 700;
         margin-right: 10px;
      }
   }
   &__link {
      display: flex;
      align-items: center;
      margin-right: 80px;
      &:last-child {margin-right: 0;}
      .icon {
         width: 16px;
         height: 16px;
         margin-right: 20px;
         margin-bottom: 2px;
         fill: $text-color-d;
      }
      span {
         font-size: 11px;
         font-weight: 400;
         color: $text-color-d;
      }
   }
   @include to768 {
      padding: 15px 0;
      &__link {
         margin-right: 40px;
         .icon {
            margin-right: 0px;
         }
         span {
            display: none;
         }
      }
   }
   @include to525 {
      &__text {
         span {
            display: none;
         }
      }
   }
}


// header
.header {
   background-color: $bg-white;
   padding: 40px 0;
   &__body {
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;
   }
   &__logo {
      display: inline-block;
      margin-right: 20px;
   }
   &__search {
      display: flex;
      justify-content: center;
      flex: 4 4;
      margin-right: 10px;
   }
   &__shop {
      display: flex;
      justify-content: center;
      flex: 1 1;
      margin-right: 10px;
   }
   &.mob-search {
      .search__form {
         opacity: 1;
         visibility: visible;
         transition: opacity .3s, visibility .3s;
      }
      .header__shop {
         opacity: 0;
         visibility: hidden;
         transition: opacity .3s, visibility .3s;
      }
      .header__user {
         opacity: 0;
         visibility: hidden;
         transition: opacity .3s, visibility .3s;
      }
   }
   @include to768 {
      padding: 25px 0;
      &__body {
         flex-wrap: wrap;
      }
      &__logo {
         width: 100%;
         text-align: center;
         margin-bottom: 20px;
      }
      &__search {
         justify-content: flex-start;
         margin-right: 35px;
      }
      &__shop {
         flex: 0 0;
         margin-right: 35px;
      }
   }
   @include to525 {
      padding: 20px 0;
      &__body {
         flex-direction: row-reverse;
      }
      &__logo {
         margin-bottom: 15px;
      }
      &__search {
         flex: 0 0;
         margin-right: 0;
         .search__form {
            opacity: 0;
            visibility: hidden;
            max-width: 100%;
            position: absolute;
            left: 0;
            bottom: 0;
            z-index: 1;
         }
         .search__mob {
            display: flex;
         }
      }
      &__shop {
         margin-right: 35px;
      }
      &__user {
         margin-right: 35px;
      }
   }
   @include to425 {
      &__shop {
         margin-right: 20px;
      }
      &__user {
         margin-right: 20px;
         .user__photo {
            margin-right: 15px;
         }
         .user__name {
            margin-right: 10px;
         }
      }
   }
}
.search {
   &__form {
      width: 100%;
      max-width: 350px;
      position: relative;
   }
   &__input {
      width: 100%;
      height: 40px;
      font-family: muli, sans-serif;
      font-size: 13px;
      font-weight: 400;
      color: $text-color-d;
      border: 1px solid transparent;
      border-radius: 6px;
      background-color: $bg-color;
      padding: 0 85px 0 25px;
      &::placeholder {
         font-size: 12px;
         font-weight: 400;
         color: $text-color-d;
      }
      &:focus {
         border-color: $maincolor-l;
         background-color: $bg-white;
         transition: border-color .3, background-color .3;
      }
   }
   &__btn {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 65px;
      height: 40px;
      border: 0;
      border-radius: 0 6px 6px 0;
      background-color: $maincolor-l;
      cursor: pointer;
      position: absolute;
      top: 0;
      right: 0;
      .icon {
         width: 16px;
         height: 16px;
      }
   }
   &__mob {
      display: none;
      align-items: center;
      justify-content: center;
      min-width: 40px;
      height: 40px;
      border: 0;
      border-radius: 6px;
      background-color: $maincolor-l;
      cursor: pointer;
      .icon {
         width: 16px;
         height: 16px;
      }
   }
}
.shop-cart {
   &__btn {
      border: 0;
      background: none;
      cursor: pointer;
      position: relative;
      .icon {
         width: 25px;
         height: 24px;
         fill: $text-color-d;
      }
      span {
         width: 20px;
         height: 20px;
         line-height: 22px;
         font-family: muli, sans-serif;
         font-size: 10px;
         font-weight: 600;
         color: $text-color-l;
         background-color: $maincolor-l;
         border-radius: 50%;
         position: absolute;
         top: -10px;
         right: -10px;
      }
   }
}
.user {
   display: flex;
   align-items: center;
   &__photo {
      margin-right: 20px;
      img {border-radius: 50%;}
   }
   &__name {
      font-size: 14px;
      font-weight: 400;
      color: $text-color-d;
      margin-right: 25px;
   }
   &__arrow {
      .icon {
         width: 18px;
         height: 12px;
         fill: $text-color-d;
      }
   }
}


// nav
.nav {
   background-color: $maincolor-d;
   position: relative;
   z-index: 1;
   &__body {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      flex-direction: row;
   }
   &__item {
      font-size: 14px;
      font-weight: 600;
      color: $text-color-l;
      text-transform: uppercase;
      white-space: nowrap;
      padding: 30px 10px;
      &:first-child {padding-left: 0;}
      &:last-child {padding-right: 0;}
   }
   &__mob {
      display: none;
      align-items: center;
      justify-content: center;
      span {
         display: flex;
         align-items: center;
         font-size: 14px;
         font-weight: 600;
         color: $text-color-l;
         text-transform: uppercase;
         &::after {
            content: '';
            width: 18px;
            height: 18px;
            background-image: url(../img/svg/plus.svg);
            background-repeat: no-repeat;
            background-size: 100%;
            margin: 0 0 5px 15px;
         }
      }
   }
   @include to992 {
      &__item {
         font-size: 13px;
      }
   }
   @include to768 {
      padding: 15px 0;
      &__body {
         display: flex;
         flex-direction: column;
         width: 100%;
         transform: scaleY(0);
         transform-origin: 50% 0;
         background-color: $maincolor-d;
         position: absolute;
         top: 50px;
         left: 0;
      }
      &__item {
         padding: 12px 0px;
      }
      &__mob {
         display: flex;
      }
   }
   &.mob-menu {
      .nav__body {
         transform: scaleY(1);
         transition: transform .3s;
      }
      .nav__mob {
         span {
            color: $maincolor-d;
            transition: color .3s;
            &::after {
               margin-right: 52px;
               transform: rotate(225deg) scale(1.5);
               transition: margin-right .3s, transform .3s;
            }
         }
      }
   }
}


// breadcrumb
.breadcrumb {
   padding: 15px 0;
   &__item {
      font-size: 11px;
      font-weight: 400;
      color: $text-color-d;
      &::after {
         content: "/";
         margin-left: 4px;
         color: $text-color-d;
      }
      &:last-child::after {
         content: "";
         padding: 0;
      }
   }
   @include to768 {padding: 10px 0;}
}


// model
.model {
   &__top {
      margin-bottom: 20px;
   }
   &__body {
      display: flex;
   }
   &__slider {
      flex: 1 1;
      max-width: 730px;
      max-height: 450px;
      width: 100%;
      height: 100%;
      margin-right: 30px;
      .slick-arrow {
         width: 30px;
         height: 40px;
         background-repeat: no-repeat;
         background-size: 10px 18px;
         background-position: center;
         position: absolute;
         top: 50%;
         transform: translateY(-50%);
         z-index: 1;
         &.prev {
            background-image: url(../img/svg/arrow-prev.svg);
            left: 25px;
         }
         &.next {
            background-image: url(../img/svg/arrow-next.svg);
            right: 25px;
         }
      }
   }
   &__img {
      img {
         width: 100%;
         height: 100%;
         border-radius: 8px;
      }
   }
   &__content {
      display: flex;
      flex-direction: column;
   }
   &__info {
      min-width: 280px;
      margin-bottom: 30px;
   }
   &__map {
      flex: 1 1 auto;
      min-width: 280px;
      iframe {
         width: 100%;
         height: 100%;
         border-radius: 8px;
      }
   }
   @include to1140 {
      &__body {
         flex-wrap: wrap;
      }
      &__slider {
         max-width: 100%;
         max-height: 100%;
         margin-right: 0;
         margin-bottom: 10px;
      }
      &__content {
         flex: 1 1;
         flex-direction: row;
      }
      &__info {
         flex: 1 1;
         margin-bottom: 0;
         margin-right: 15px;
      }
      &__map {
         flex: 2 2;
      }
   }
   @include to660 {
      &__top {
         margin-bottom: 10px;
      }
      &__slider {
         margin-bottom: 5px;
      }
      &__content {
         flex-direction: column;
      }
      &__info {
         margin-bottom: 15px;
         margin-right: 0;
      }
   }
}
.model-head {
   display: flex;
   align-items: flex-end;
   justify-content: space-between;
   flex-wrap: wrap;
   &__left {
      margin-right: 20px;
   }
   &__title {
      display: flex;
      align-items: flex-end;
      .title {margin-right: 20px;}
      span {
         font-size: 11px;
         font-weight: 500;
         color: $text-color-l;
         border-radius: 3px;
         background-color: $maincolor-l;
         padding: 4px 10px 1px;
         margin-bottom: 10px;
         white-space: nowrap;
      }
   }
   &__subtitle {
      font-size: 12px;
      font-weight: 400;
      color: $text-color-d;}
   &__right {
      color: $text-color-l;
      border-radius: 4px;
      background-color: $maincolor-l;
      text-align: center;
      padding: 2px 8px;
      span {
         &:nth-child(1) {
            font-size: 11px;
            font-weight: 500;
         }
         &:nth-child(2) {
            font-size: 14px;
            font-weight: 700;
         }
      }
   }
   @include to680 {
      &__left {
         width: 100%;
         margin-right: 0;
         margin-bottom: 6px;
      }
   }
}
.rating {
   &__item {
      display: inline-block;
      width: 10px;
      height: 10px;
      background-image: url(../img/svg/star.svg);
      background-repeat: no-repeat;
      background-size: 100%;
      margin-right: 1px;
      &:last-child {margin-right: 0;}
      &_checked {
         background-image: url(../img/svg/star-checked.svg);
      }
   }
}
.model-info {
   display: flex;
   flex-wrap: wrap;
   font-family: nunito, sans-serif;
   border-radius: 8px;
   background-color: $maincolor-d;
   padding: 25px;
   @include to425 {padding: 15px;}
   &__left {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      flex-direction: column;
      flex: 1 1;
   }
   &__item {
      font-size: 12px;
      font-weight: 400;
      color: $text-color-l;
      white-space: nowrap;
      &.price {
         font-size: 24px;
         font-weight: 700;
      }
      &.last {
         font-size: 18px;
         font-weight: 500;
      }
      background-repeat: no-repeat;
      background-position: 0 center;
      background-size: 15px 15px;
      &.guest {
         background-image: url(../img/svg/guest.svg);
         padding-left: 25px;
      }
      &.room {
         background-image: url(../img/svg/room.svg);
         padding-left: 25px;
      }
      &.tel {
         background-image: url(../img/svg/tel.svg);
         padding-left: 25px;
      }
   }
   &__right {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      flex-direction: column;
      flex: 1 1;
   }
   &__btn {
      font-family: nunito, sans-serif;
      width: 100%;
      padding: 12px 0 16px;
      margin-top: 20px;
   }
}
.btn {
   border: 0;
   border-radius: 4px;
   background-color: $maincolor-l;
   font-size: 14px;
   font-weight: 500;
   color: $text-color-l;
}

// package (tab)
.tab {
   &__control {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 40px;
   }
   &__item {
      font-size: 14px;
      font-weight: 700;
      color: $text-color-d;
      margin-right: 10px;
      &:last-child {margin-right: 0;}
      &::after {
         content: '';
         display: block;
         width: 100%;
         height: 4px;
         background: none;
         margin-top: 8px;
         transition: height .3s;
      }
      &_active {
         color: $maincolor-l;
         transition: color .3s;
         &::after {
            height: 4px;
            background-color: $maincolor-l;
            transition: height .3s, background-color .3s;
         }
      }
   }
   @include to992 {
      &__control {
         flex-direction: column;
      }
      &__item {
         padding: 10px 0;
         margin-right: 0;
         &::after {
            height: 2px;
            margin-top: 5px;
         }
         &_active {
            color: $maincolor-l;
            transition: color .3s;
         }
      }
   }
}


.tab-info {
   &__title {
      margin-bottom: 25px;
   }
   &__body {
      display: flex;
      flex-wrap: wrap;
      margin: -15px;
   }
   &__box {
      padding: 15px;
   }
}
.box {
   height: 100%;
   &__top {
      height: 50px;
      line-height: 50px;
      font-size: 15px;
      font-weight: 700;
      color: $text-color-l;
      border-radius: 4px 4px 0 0;
      background-color: $maincolor-d;
      padding-left: 20px;
   }
   &__content {
      display: flex;
      flex-wrap: wrap;
      border-radius: 0 0 4px 4px;
      background-color: $bg-white;
   }
   &__column {
      padding: 15px 20px;
   }
   &__item {
      font-size: 13px;
      font-weight: 400;
      color: $text-color-d;
      background-image: url(../img/svg/item.svg);
      background-repeat: no-repeat;
      background-size: 17px 17px;
      background-position: 0 10px;
      padding: 10px 0 10px 40px;
      &.offer {
         span {
            display: inline-block;
            width: 100%;
            font-size: 11px;
            font-weight: 400;
            margin-top: 40px;
         }
      }
      &.date {
         background-image: url(../img/svg/calendar.svg);
         font-size: 14px;
      }
   }
   &__title {
      font-size: 14px;
      font-weight: 600;
      color: $maincolor-l;
      margin: 10px 0;
   }
   &__line {
      width: 100%;
      border-top: 1px dashed #E0E0E0;
      margin: 10px 20px;
   }
   &-s {
      width: 50%;
      .box__column {
         width: 50%;
      }
   }
   &-b {
      width: 100%;
      .box__column {
         width: 33.33%;
      }
   }
   @include to768 {
      &__top {
         padding-left: 15px;
      }
      &__column {
         padding: 10px 15px;
      }
      &__item {
         padding: 10px 0 10px 30px;
      }
      &-s {
         width: 100%;
      }
      &-b {
         .box__column {
            width: 50%;
         }
      }
   }
   @include to425 {
      &__top {
         height: 45px;
         line-height: 45px;
         padding-left: 10px;
      }
      &__content {
         padding-bottom: 10px;
      }
      &__column {
         padding: 5px 10px;
      }
      &__title {
         margin: 5px 0;
      }
      &__item {
         &:last-child {padding-bottom: 0;}
      }
      &-s {
         .box__column {
            width: 100%;
         }
      }
      &-b {
         .box__column {
            width: 100%;
         }
      }
   }
}



@include upto1024 {
   
}